* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: #040615;
}

span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 3em;
    border-radius: 50%;
    height: 52px;
}

.wrapper {
    width: 400px;
    height: 400px;
    display: flex;
    padding: 10px;
    border: 4px solid #fff;
    border-radius: 50%;
}

.one {
    align-self: flex-end;
    margin-right: 20px;
}

.two {
    align-self: flex-start;
    margin-left: 10px;
    margin-top: 5px;
}

.four {
    align-self: flex-start;
    margin-left: 10px;
    margin-bottom: 5px;
}

.three {
    align-self: flex-end;
}

.six {
    align-self: flex-end;
}

.five {
    align-self: flex-start;
    padding-right: 20px;
}

.seven {
    align-self: flex-start;
    padding-left: 20px;
}

.eight {
    align-self: flex-end;
    margin-right: 10px;
    margin-bottom: 5px;
}

.nine {
    align-self: flex-start;
}

.ten {
    align-self: flex-end;
    margin-top: 5px;
}

.eleven {
    align-self: flex-end;
    margin-left: 10px;
}

.twelve {
    margin-right: 20px;
    align-self: flex-start;
}

.right_col, .mid_col, .left_col {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.mid_col {
    flex-grow: 1;
}

.right_col, .left_col {
    width: 20%;
}

.div {
    height: 76.8px;
    width: 100%;
}

.left_col_mid, .right_col_mid {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.left_col_mid {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.right_col_mid {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.middle {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60%;
}

.top, .bottom {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.clock {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 50%;
}

.clock::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #2196f3;
    z-index: 10000;
    border-radius: 50%;
}

.hour, .min, .sec {
    position: absolute;
}

.hour, .hr {
    width: 200px;
    height: 200px;
}

.min, .mn {
    width: 230px;
    height: 230px;
}

.sec, .sc {
    width: 250px;
    height: 250px;
}

.hr, .mn, .sc {
    display: flex;
    justify-content: center;
    position: absolute;
}

.hr::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 100px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: #fff;
}

.mn::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 120px;
    background: #fff;
}

.sc::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 120px;
    background: #2196f3;
}

#digitalClock {
    display: flex;
    color: #fff;
    font-size: 3em;
    margin-top: 20px;
}